.gpt3__brand{

    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.brands{

    flex: 1;
    max-width: 150px;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;

}
